<!DOCTYPE html>
{% extends "visualization_app/base.html" %}
{% load staticfiles %}
{% block body_block %}
<link rel="stylesheet" type="text/css" href="{% static 'css/hit_table.css' %}">

<h1 class="title"> {{hit_data.0.pitchername}}'s Data</h1>
<div class="row">
<div class="person col-lg-3">
<div class="personImage"><img id='pitcherPic' class="importedImage" src="https://securea.mlb.com/mlb/images/players/head_shot/{{hit_data.0.pitcherid}}.jpg"></div>
</div>
<div class="info col-lg-9">
    <div id="teamName"><b>Team Name: </b>{{pitcher_data.teamname}}</div>
    <div id="age"><b>Age:</b></div>
    <div id="height"><b>Height:</b></div>
    <div id="pitchSpeed"><b>Fastest Pitch: </b>{{pitcher_data.max_pitch_speed}} mph</div>
    <div id="pitchHand"><b>Pitch Hand:</b></div>
    <script src="{% static 'js/description.js' %}"></script>
</div>
</div>
{% endblock %}